body {
  background-color: #F7F7FF;
  font-size: 20px;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}


.logo {
  width: 25%;
  padding-right: 15px;
  width: 65px;
  text-align: center;
}



.skillIcon {
  height:40px;
  width: 40px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.heroImg {
  height: 600px;
  padding: 25px;
  margin: 50px;
}

.content {
  display: block;
  width: 60%;
  margin: 15px;
  padding: 20px;
  font-size: 20px;
}

.footer {
  background-color: #131112;
  padding: 10px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.mySkills {
  margin:30px;
  padding: 10px;
  display: block;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

.flexChild {
  width: 33%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #F7F7FF;
  background-color: #131112
}

.myWork {
  padding: 10px;
}

.workGrid{
  margin: 10px;
  padding: 10px;
}

.prototypeImage{
  height: 50%;
  width: 50%;
  
}

.projectA {
  padding: 30px;
  margin: 10px;
  grid-area: center;
  align-items: center;
  background-color: #617073 ;
  outline: 10px solid #F7F7FF;
}

.projectB {
  padding: 30px;
  margin: 10px;
  grid-area: center;
  text-align: center;
  background-color: #617073 ;
  outline: 10px solid #F7F7FF;
}

.projectC {
  padding: 30px;
  margin: 10px;
  grid-area: right;
  
  background-color: #617073 ;
  outline: 10px solid #F7F7FF;
}

.projectCopy{
  padding: 20px;
  font-size: 20px;
  color: #F7F7FF
}

.btn-primary{
font-size: 15px;
}

@media only screen and (max-width: 600){
  .flexContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: lfr;
    grid-template-areas: 
    "projectA"
    "projectB"
    "projectC"
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #131112;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #131112;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #131112;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #131112;
  text-decoration: none;
  cursor: pointer;
}

button{
  background-color: #131112;
  color: #DFFF00;
}